*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #1e0044;
    --primary-color-light: #f6f5ff;
    --toggle-color: #DDD;
    --text-color: #707070; 

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

}

body{
    height: 100vh;
    background: var(--sidebar-color);
    transition: var(--tran-04);
}

.logoimage {
    scale: .455;
}

.logogroup {
    position: relative;
    right: 212px;
    bottom: 152px;
    display: flex;
    align-items: center; /* Align items vertically */
}

.logotext {
    position: relative;    
    top: 3px;
    right: 214px;
    display: flex;
    flex-direction: column; /* Align text vertically */
    font-size: 16px; /* Adjust font size */
}

.name {
    font-weight: 600;
}

.vision {
    font-weight: 500;
}

.header1 {
    position: relative;
    left: 175px;
    bottom: 285px;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.search-box{
    position: relative;
    top: 10px;
    left: 50px;
    background: #efefef;
    width: 500px;
    border-radius: 20px;
    display:flex;
    align-items: center;
    padding: 0 15px;
    z-index: 1;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.navbar{
    position: relative;
    bottom: 250px;
    height: 30px;
    width: 100%;
    background: var(--primary-color);
    transition: var(--tran-05);
    text-decoration: none;
    padding-right: 15px;
    padding-left: 80px;
    padding-bottom: 40px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li{
    list-style: none;
    display: inline-block;
    padding-top: 10px;
}

.navbar li a{
    position: relative;
    left: 100px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: var(--tran-02);
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar li a:hover{
    border-bottom: 3px solid #CCC;
    padding-bottom: 2px;
}

.navbar li a.active{
    border-bottom: 3px solid #CCC;
    padding-bottom: 2px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-texts {
    position: relative;
    top: 175px; /* Adjust the distance from the navbar */
    left: 200px;
    transition: var(--tran-05);
}

body.dark .tab-text{
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.tab-text {
    display: none; /* Initially hide the text */
    padding: 5px 10px;
    border-radius: 5px;
    color: #1e0044;
    font-size: 16px;
}

.tab-text.active {
    display: inline-block; /* Show the text when associated tab is active */
}